@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap');
.App {
  text-align: center;
}
html {
  font-size: 17px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Assistant', sans-serif;
  background-color: rgb(219, 255, 231);
  color: #474747;
  margin: 0ex;
}
.top {
  background-color: darkseagreen;
}
h2 {
  margin: 0;
  padding: 1rem 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
form.main-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-center {
  justify-content: space-between;
  display: flex;
  line-height: 1.5rem;
  font-size: 1.1rem;
}
.input-center label {
  padding-right: 10px;
  font-size: 1.2rem;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
